.header {
  display: flex;
  align-items: center;
  gap: 50px;
  box-shadow: 0 10px 10px -15px #111;
}

.Link {
  text-decoration: none;
}

h1 {
  margin-left: 10px;
  color: cornflowerblue;
}

h2 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

.book {
  width: 75%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
}

.book-form {
  width: 75%;
  margin: auto;
}

.book-options {
  display: flex;
  gap: 3px;
}

.vr {
  border-left: 1px solid #d3d3d3;
  height: 25px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

hr {
  margin: 20px;
}

input {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 30px;
}

form {
  margin-top: 20px;
}

form button,
.status-btn {
  background-color: cornflowerblue;
  color: white;
  height: 35px;
  border-radius: 3px;
}

.status-btn {
  margin: 20px;
}
